# Python
__pycache__/
*.pyc
../backend/venv/
../.venv/
env/

# 后端临时文件（必须忽略，不然队友互相覆盖图片）
backend/uploads/
backend/results/
backend/history_data.json

# IDE
.idea/
.vscode/
*.iml

# 系统文件
.DS_Store
Thumbs.db
